body {
    background-color: white;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    min-height: 80px;
    border-bottom-width: 3px;
    border-color: black;
    background-color: green;
}
.navbar-brand{
    float: left;
    min-height: 80px;
}
.navbar h1 {
    color: white;
    margin: auto;
    font-size: 2.5em;
    font-weight: bold;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.page-header{
    border: 0;
    padding-bottom: 10px;
    margin: 20px 0 10px;
}
.page-header h1 {
    font-size: 45px;
    font-weight: bold;
}

#main-content {
    min-height: 1000px;
    background-color: grey;
    color: black;
    font-size: 1.2em;
    padding: 15px;
}
#main-content h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}
#nav-list{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
#navbar-collapse{
    border-width: 0;
}
#nav-list div{
    color: black;
    font-size: 1.8em;
}
#nav-list a{
    background-color: white;
    margin: auto;
}
#nav-list a:hover {
    background: grey;
  }
#nav-list hr{
    margin: auto;
    border-top: 2px solid black;
}
